<div class="show_contact">

  <h2>Editing Contact:</h2>

  <form action='/contacts/<%= @contact.id %>' method='post'>

    <input type='hidden' name='_method' value='put'>

    <p>First name: <input type='text' name='first_name' value='<%= @contact.first_name %>'></p>

    <p>Last name: <input type='text' name='last_name' value='<%= @contact.last_name %>'></p>

    <p>Email: <input type='text' name='email' value='<%= @contact.email %>'></p>

    <p>Note: <input type='text' name='note' value='<%= @contact.note %>'></p>

    <input type='submit' value='Save'>

  </form>

  <p>
    <a href="/contacts/<%=@contact.id.to_i%>">Return to this contact's page</a>
  </p>

</div>
